.next-button{
	height: 28px;
	width: 87px;
	color: #ffffff;
	float: right;
	text-align: center;
	padding-top: 8px;
	border-radius: 5px;
	background-image: -ms-linear-gradient(top, #1279C9 0%, #439FE7 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #1279C9 0%, #439FE7 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #1279C9 0%, #439FE7 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1279C9), color-stop(100, #439FE7));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #1279C9 0%, #439FE7 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #1279C9 0%, #439FE7 100%);
}

header{
	text-align: center;
}
header .header-text{
	padding-left: 80px;
	font-size: 20px;
	font-weight: bold;
}